* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 5rem 0;
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 300px;
    min-width: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    margin: 3rem 0;
    border-radius: 10px;
    background: rgba(91, 170, 185, 0.3);
}

label {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 5%;
    width: 90%;
}

label input {
    float: right;
    height: 2.2em;
    width: 70%;
    min-width: 260px;
    margin: 1rem 0;
    padding: 1em;
    border: 0;
    border-radius: 5px;
}

form h2 {
    margin: 1.5rem 0 2rem 0;
}

form a {
    background-color: black;
}

.btn {
    width: 100px;
    height: 40px;
    font-weight: bold;
    background: rgb(40, 103, 116);
    color: white;
    border: 0;
    border-radius: 5px;
}

.btn:hover {
    background-color: aliceblue;
    color: black;
    box-shadow: 0px 5px 15px black;
}